body {
	background: linear-gradient(135deg, hsla(190, 77%, 88%, 1) 9%, hsla(156, 71%, 59%, 1) 100%);
	}
	
h1 {
	font-family: "Verdana";
	text-align: center;
	font-size: 40px;
	color: #023E8A;
}

h2 {
	font-family: "Verdana";
	text-align: left;
	font-size: 28px;
	color: #023E8A;
}


.topnav {
  background-color: #023E8A;
  overflow: hidden;
 
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Verdana";
  
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #0096C7;
  color: white;
  
}

/* Style buttons */
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
